{% extends "Main/base.html" %}
{% load static%}
{% block title %}Catalog{% endblock %}

{% block content %}
<h1 class="text-center">ГДЕ Я?!</h1>
<div class="d-flex justify-content-center gap-3">
    {% for post in posts %}
    <div class="card"
        style="width: 18rem; min-width: 350px; max-width: 350px;">
        <img src="{{ post.image.url }}" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ post.name }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <form action="{% url 'post_like' %}"
                method="post" class="d-flex">{% csrf_token %}
                <button type="submit"
                    class="bg-transparent border-0">
                    <img src="{% static 'blog/img/heart.png' %}"
                        style="width: 32px; filter: invert(0.8);">
                </button>
                <input type="hidden" name="post_id"
                    value="{{ post.id }}">
            </form>
            <span>{{ post.likes }}</span>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}